<div class="card">
  <div class="card-header">
    Subscription Status
  </div>
  <table class="table table-striped table-bordered mb-0">
    <thead>
      <tr>
        <% @status.keys.each do |category| %>
          <th><%= category.capitalize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @status.values.each do |value| %>
          <td><%= value ? "\u2713" : "\u2715" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
