<div class="card">
  <div class="card-body">
    <h4 class="card-title">Where do I get a webhook URL?</h4>
    <p>
      You need to create a webhook for a channel on your Discord server.
      This requires the <b>Manage Webhooks</b> permission. To create a new webhook:
    </p>
    <ol>
      <li>Edit Channel</li>
      <li>Webhooks</li>
      <li>Create Webhook</li>
      <li>Copy the URL and paste it above</li>
    </ol>
  </div>
</div>
