body {
  background: #333;
  color: #eee;
}

.flag > a {
  background-image: url('/images/flags.png');
  display: block;
  width: 45px;
  height: 30px;
}

.flag.list-inline-item:not(:last-child) {
  margin-right: 20px;
}

.card {
  background: #333;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.2);
}

input.form-control, input.form-control:focus {
  background: #eee;
}

.form-group > label {
  font-weight: bold;
}

.table-bordered td, .table-bordered thead th {
  border-color: #555;
}

button {
  cursor: pointer;
}

h5 {
  font-weight: bold;
}

a.link-unstyled {
  color: #fff;
  text-decoration: underline;
}

a.link-unstyled:hover {
  color: #ccc;
}

a.discord {
  background-color: #3D55A0;
  color: #eee;
}

a.discord:hover {
  background-color: #324682;
}

a.patreon {
  background-color: #DB4534;
  color: #eee;
}

a.patreon:hover {
  background-color: #BF3C2D;
}
