body {
  background: #333;
  color: #fff;
}

.flag > a {
  background-image: url('/images/flags.png');
  display: block;
  width: 45px;
  height: 30px;
}

.flag.list-inline-item:not(:last-child) {
  margin-right: 20px;
}

.card {
  background: #404040;
  border: 1px #555 solid;
}

.card-header {
  background: #303030;
  font-weight: bold;
}

input.form-control, input.form-control:focus {
  background: #eee;
}

.form-group > label {
  font-weight: bold;
}

.table-bordered td, .table-bordered thead th {
  border-color: #555;
}

button {
  cursor: pointer;
}

h5 {
  font-weight: bold;
}

a.link-unstyled {
  color: #fff;
  text-decoration: underline;
}

a.link-unstyled:hover {
  color: #ccc;
}

a.discord {
  background-color: #7289DA;
  color: #fff;
}

a.discord:hover {
  background-color: #5271D8;
}

a.patreon {
  background-color: #F96855;
  color: #fff;
}

a.patreon:hover {
  background-color: #F74E3B;
}
