<!doctype html>
<html lang="en">
  <head>
    <title>Server Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style_20190120.css">
  </head>
  <body>
    <div class="col-12 col-md-4 offset-md-4">
      <div class="card mt-4">
        <div class="card-body text-center">
          Oops, something broke. Sorry about that.
        </div>
      </div>
    </div>
  </body>
</html>
