<h2 class="text-center mt-2">Automatic Lodestone updates for your Discord server!</h2>

<div class="row mt-4">
  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Choose your preferences</h5>
      </div>
      <div class="card-body pt-3 pb-2">
        <p>I am a form.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">FAQ</h5>
      </div>
      <div class="card-body pt-3 pb-2">
        <h5>Can I see an example post?</h5>
        <p>
          <%= link_to 'You sure can.', image_path('example.png', skip_pipeline: true), target: '_blank' %>
        </p>

        <h5>What is a webhook?</h5>
        <p>
          A webhook is a simple and safe way to let an application send messages to your
          Discord server. You set the channel where you want it to post, and you can
          delete the webhook at any time.
        </p>

        <h5>How do I change my subscription?</h5>
        <p>
          To change your subscription, you will need to unsubscribe and then subscribe again
          with your new preferences.
        </p>

        <h5>How do I unsubscribe?</h5>
        <p>
          Edit Channel &gt; Integrations &gt; Webhooks &gt; Lodestone &gt; Delete Webhook
        </p>
      </div>
    </div>
  </div>
</div>
