.discord {
  background-color: #3D55A0;

  &:hover {
    background-color: #324682;
  }
}

.github {
  background-color: #888;

  &:hover {
    background-color: #666;
  }
}

.patreon {
  background-color: #DB4534;

  &:hover {
    background-color: #BF3C2D;
  }
}

.rss {
  background-color: #F26000;

  &:hover {
    background-color: #D85600;
  }
}

img.social {
  width: 25px;
  height: 25px;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}
