<% flash.to_hash.except('timedout').each do |key, value| %>
  <div class="alert alert-dismissable fade show <%= flash_class(key) %> mb-4">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      <%= fa_icon 'times' %>
    </button>
    <%= value.html_safe %>
  </div>
<% end %>
